<div class="container my-3">
  <h2>Welcome to <%=@restaurant.name%></h2>
  <p>We are a <%=@restaurant.category%> restaurant. You can find us at <%=@restaurant.address%></p>
  <p>Contact: <%=@restaurant.phone_number%></p>

  <p><strong>Reviews</strong></p>
    <% @restaurant.reviews.each do |review|%>
      <%= review.content %>
    <% end %>
  <br>

  <%=link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary my-3" %>

  <p><%= link_to "Back to home", restaurants_path, class: "btn btn-primary"%></p>
</div>
